# First, ignore everything
*
# Now, whitelist anything that's a directory
!snippet/
# And all the file types you're interested in.
!init.el
!config.org
!.gitignore
!LICENSE
# And again XD
custom.el
.mc-lists.el
